$dark: rgba(12, 23, 34, .94);


header.exam{
	font:{
		size: 40px;
	};
	color: $dark;
	border-bottom: $dark 2px solid;
	height: 90px;
	margin: 6px;
	h1{
		color: $dark;
		font:{
			size: 98%;
		};
	}
	p#organ{
		position:absolute;
		right: 14px;
		font:{
			size: 58%;
		};
	}

}

div.exam{
	font:{
		size: 24px;
	};
	header{
		height: auto;
		margin: 3px;
		h2{
			margin:0 0 2px 4px;
			font:{
				size: 94%;
				weight: bold;
			};	
		}
	}
	div.problemSet{
		ol{
			list-style-type: number;
			margin: 3px 0 10px 20px;
			padding-left: 20px;
			li{
				margin: 3px 1px 4px 1px;
				padding: 0 10px;
				font:{
					size: 72%;
					weight: normal;
				};	
			}
		}
	}
}