<header>
	<h1>Exam Generator</h1>
	<p class="note">新增/修改試題、輸出題庫、搜尋</p>
	<nav>
		<ul>
			<li>
 				<div class="slime Submit">
 					<div class="title">
 					<%= link_to(:action=>:submitEx) do %>
 						Submit
 					<% end %></div>
 					<div class="note">Exam/Problem Set</div>
 				</div>
			</li>
			<li>
				<div class="slime Create">
					<div class="title">
						<%= link_to(:action=>:makeEx) do %>
						Create
						<% end %>
					</div>
					<div class="note">from database</div>
				</div>
			</li>
			<li>
				<div class="slime Search">
					<div class="title">
						<%= link_to(:action=>:searchEx) do %>
						Search
						<% end %>
					</div>
					<div class="note">existed exams</div>
				</div>
			</li>
		</ul>
	</nav>
</header>

<section id="latestExams">
	<ul>
		<li>Latest Submit</li>
		<li>99年北區競賽試題</li>
		<li>100年北區競賽試題</li>
		<li>101年北區競賽試題</li>
		<li>100年南區競賽試題</li>
	</ul>
</section>

