
<header class="exam">
	<div>
	 	<h1 id="exname"><%= @exam.year %> <%= @exam.exname %></h1>
	</div> 
	<div><p id="organ">命題單位: <%= @exam.organization %></p></div>
</header>

<div class="exam" id="single_col">
	<section>
		<header>
			<h2>Part I:</h2> 
		</header>
		<div class="problemSet">
			<ol>
				<li>【 A】 有關資訊科學和資訊科技的區別，下列敘述何者正確？ (A) 資訊科學重視相關的應用 (B) 資訊科技重視與電腦有關的基礎原理 (C) 資訊科學比較不會隨時代而改變 (D) 除非學理有所突破，否則資訊科技不易改變</li>
				<li>【 D】 使用電腦做為輔助的工具中，下列何者在產品設計、建築設計、電路板設計等領域均適用？ (A) 彈性製造系統 (B) 電腦輔助製造 (C) 電腦輔助生產 (D) 電腦輔助設計</li>
				<li>【B】 下列何種訓練最適合使用虛擬實境進行模擬訓練？(A) 實驗器材操作訓練 (B) 飛行員之飛行訓練 (C) 電腦操作之教育訓練 (D) 急救訓練</li>
				<li>【 C】 將許多電晶體、電阻等濃縮在一個矽晶片上的電子元件稱為 (A) 真空管 (B) 電晶體 (C) 積體電路 (D) 邏輯電路</li>
				<li>【 B】 依電腦發展的歷史，下列敘述何者不正確？ (A) 執行速度愈來愈快 (B) 體積愈來愈大 (C) 可靠度愈來愈高 (D) 價格愈來愈便宜</li>
			</ol>
		</div>
	</section>					

	<section>
		<header>
			<h2>Part II:</h2> 
		</header>
		<div class="problemSet">
			<ol>
				<li>工廠自動化泛指以電腦科技協助產品設計、製造、測試…等工作流程中的相關技術，常見有（ CAD ）、（ CAM ）、CAE等。</li>
				<li>常見的科技詞彙縮寫：銷售點管理系統（ POS ） 電腦輔助教學（ CAI ） 虛擬實境（ VR ） 全球定位系統（ GPS ） 隨選視訊系統（ VOD ） 無線射頻辨識（ RFID ）</li>
				<li>由磁碟模擬的主記憶體稱為（ 虛擬 ）記憶體。</li>
				<li>資料儲存單位：1 TB＝210（ GB ）＝（ 220 ）MB＝230 KB＝（ 240 ） Bytes＝（ 243 ）bits。</li>
				<li>巴貝奇發明可進行四則運算的（ 差分機 ），以及具有輸入、輸出、運算、控制、儲存等現代電腦基本結構的（ 分析機 ），而統計學家何樂利成立專門生產可處理打孔卡片機器的國際商業機器公司，也就是後來著名的（ IBM ）。</li>
			</ol>
		</div>
	</section>	
</div>

<footer class="exam">
	

</footer>